
<form th:action="@{/addaddons}" method="post">

	<div class="form-group">
		<label for="exampleInputEmail1">Addons</label> <input
			name="AddonName" type="text" class="form-control"
			 aria-describedby="emailHelp"
			placeholder="Description">
	</div>

	<div class="form-group">
		<label for="exampleInputEmail1">Price</label> <input
			name="Price" type="text" class="form-control"
			 aria-describedby="emailHelp"
			placeholder="Description">
	</div>

	<div class="form-group">
		<label for="exampleInputEmail1">Description</label> <input
			name="Description" type="text" class="form-control"
			 aria-describedby="emailHelp"
			placeholder="Description">
	</div>

	<div class="form-group">
		<label for="exampleInputEmail1">AddonImage</label> <input
			name="AddonImage" type="text" class="form-control"
			 aria-describedby="emailHelp"
			placeholder="Description">
	</div>

	<div class="form-group">
		<label for="exampleInputEmail1">Status</label> <input
			name="Status" type="text" class="form-control"
			id="exampleInputEmail1" aria-describedby="emailHelp"
			placeholder="Description">
	</div>

	<button type="submit" class="btn btn-primary">Create</button>


</form>