
		<a th:href="@{/addcategory}">Create</a>
		<table id="dataTable" class="text-center">
			<thead class="bg-light text-capitalize">
				<tr>
					<th th:text="name"></th>
					<th></th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="item:${categories}">
					<td th:text="${item.name}"></td>
					<td>
												
												<a type="button" 
													class="btn btn-flat btn-warning btn-xs mb-3"
													th:href="@{/editcategory/{id}(id=${item.id}) }"> 
													<i class="fa fa-edit" aria-hidden="true"></i>a
												</a>
												<a type="button" 
													onclick="return confirm('Are you sure?') ? true : false;"
													class="btn btn-flat btn-danger btn-xs mb-3"
													th:href="@{/deletecategory/{id}(id=${item.id}) }"> 
													<i class="fa fa-trash" aria-hidden="true"></i>a
												</a></td>
				</tr>

			</tbody>

		</table>
